@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "TiposCuentas";
}
<h1>Tipos De Cuentas</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas. Ejemeplo: Préstamos, Tarjetas, Crétidos, etc.</h5>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var tipoCuenta in Model)
        {
            <tr>
                <td>
                    @tipoCuenta.Nombre
                </td>
                <td>
                    <input type="hidden" value="@tipoCuenta.Id" class="ids"/>
                    <a asp-action="Editar" asp-route-id="@tipoCuenta.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@tipoCuenta.Id" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        const urlOrdenar = '@Url.Action("ordenar")';

        $(function(){
            $("#reordenable").sortable({
                stop: async function(e, ui){
                    await actualizarOrdenes();
                }
            });

            async function actualizarOrdenes(){
                const ids = obtenerIdsElementos();
                 await enviarIdsAlBacked(ids);
            }

            function obtenerIdsElementos(){
                const ids = $(".ids").map(function(){
                    return $(this).val();   
                }).get();
                return ids;
            }

            async function enviarIdsAlBacked(ids){
                var data = JSON.stringify(ids);
                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        })
    </script>
}


